body {padding: 0px; margin:0px;}
.todo {max-width: 960px; margin: 0 auto;}

/*-----header-----*/
header {background-color:#eeeeee; text-align: center;}
header ul {list-style-type:none;}

/*-----menu principal-----*/
nav.menuPrincipal ul {list-style-type:none;}

/*-----contenedorGeneral-----*/
/*-----proyectos-----*/
.contenido {background-color:#eeeeee;}
.trabajo {background-color: #cccccc; max-width: 200px;}
.trabajo h2 {text-align: center;}
.trabajo p {text-align: center;}
.trabajo a {text-align: center; background-color: green; color: white; width: 180px; padding: 10px; text-decoration: none; margin:0px auto;}

.sobreMi {background-color:#cccccc;}
