div.trabajo h2 {
  font-size: .8rem;
}

div.trabajo div.descripcion p {
    font-size: 0.7rem;
    padding: .8rem 0rem;
}

div.trabajo div.descripcion .btn {
  border-radius: 5px;
  padding: .4rem;
  font-size: 0.58rem;
  bottom: -10px;
}
